

#customize-theme-controls .control-panel-themes.has-dummy-content {
	margin-bottom: 15px;

}

#customize-theme-controls .control-panel-themes.has-dummy-content > .accordion-section-title {
	margin-bottom: 0;
}

#customize-theme-controls .control-panel-themes.has-dummy-content .theme-dummy-content-actions {
	background: white;
	padding: 10px 12px 10px 12px;
}
